{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <form autocomplete="off" method="post" class="row justify-content-center">
    <div class="col-6">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Register</button>
        <a href="{% url "store:list" %}" class="btn btn-danger">Cancel</a>
      </div>
      <div class="mt-3">Already have an account? <a href="{% url "user:login" %}">Sing In</a></div>
    </div>
  </form>
{% endblock %}